*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url(411820.jpg);
    position: relative;
}
body::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;  
    top: 0;
    left: 0;  
    background-color:rgba(0,0,0,.5) ;
}
header{
    position: absolute;
    top: 0px;
    display: flex;
    width: 100%;
    margin: 0;
    background-color: white;
    color: antiquewhite;
}
nav{
    display: flex;
    position: relative;
    height: 50px;
}
nav div{
    position: relative;
    display: flex;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128,.8);
   cursor:alias ;
}
nav .croix{
    position: relative;
    width: 5px;
    height: 5px;
    top: 10px;
    margin-left: 0;
    margin-right: 0px;
}
nav .croix::after, nav .croix::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 3px;
    background-color: black;
    top: -2px;
    transform: translateX(-50%) translateY(-50%);
}
nav .croix::after{
    width: 25px;
    transform: translateX(-50%) rotate(90deg);
}
nav div p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 3px;
    font-size: 20px;
    padding-left: 0;
    margin:0 ;
    color: rgba(255, 69, 0,.7);
   cursor:alias ;
}
.pi{
    margin-left: 0;
}
select{
    position: relative;
    width: 250px;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    color: rgb(139, 136, 136);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
a{
    position: relative;
    text-decoration: none;
    color: rgb(139, 136, 136);
    justify-content: center;
    width: 120px;
    height: 100%;
    font-weight: bold;
    border: 1px solid rgba(128, 128, 128,.8);
    padding: 15px 0 0 10px;
    
}
.submitblog{
    width: 320px;
    padding-left: 25px;
    color: white;
    background-color: rgba(255, 69, 0,.7);
}
section {
    top: 0;
    position: relative;
}
section div{
    position: relative;
    left: 15%;
    justify-content: center;
    align-items: center;
}
h3{
    padding-left: 15%;
    color: rgba(255, 69, 0,.7);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
}
h2{
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin: 10px;
    left: -50px;

}
.p{
    position: relative;
    width: 100%;
    position: relative;
    right: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
#p{
    position: relative;
    right: 35px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.btn{
    position: relative;
    top: 20px;
    width: 150px;
    height: 50px;
    left: 35%;
    background-color: white;
}
.btn button{
    position: relative;
    width: 150px;
    height: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15PX;
    background-color: rgba(255, 69, 0,.9);
    border: 1px solid rgba(255, 69, 0,.8);
    cursor: pointer;
}